.container {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 30px;
  margin-top: 20px;
  border-radius: 20px;
}

.container section h2 {
  margin-bottom: 5px;
}

.container .author-section .icons-container {
  display: flex;
  gap: 40px;
  font-size: 60px;
}

.container .author-section .icons-container .github-icon {
  color: #333;
}
.container .author-section .icons-container .instagram-icon {
  color: #e1306c;
}

.container .author-section .icons-container .linkedin-icon {
  color: #0077b5;
}

.container .author-section .icons-container i {
  transition: color 0.2s ease-in-out;
}

.container .author-section .icons-container i:hover {
  color: #000;
}
